.App {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left * {
  text-align: left;
  text-decoration: none;
}

.right {
  width: 50vw;
}
