.App {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App a {
  text-decoration: none;
}

.left {
  width: 20vw;
}

.right {
  min-width: 50vw;
}
